* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
    body{
  font-family:"Bookman Old Style";
    }

.lista_categoria{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 32px 0px;

  }
.items{
    display: flex;
    justify-content: center;
    width: 350px;
    margin: 0px 12px;
    text-align: center;
  }
  .items:hover{
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 0px 12px;
    text-align: center;
    transition: all 0.5s ease;
  }
    .bnt{
    width: 75%; 
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to right, #1D2A86, #3E8AFF );
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
    }
.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
 
  .footer{
    background-color: #ffffff;
      padding: 70px 0;
  }
  .footer-col{
     width: 32%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #2F556B;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #000000;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #0d26884d;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  .cpy {
    padding: 10px;
    text-align: center;
    background: #ddd ;
    margin-top: 10px;
    font-size: 15px;
  } 
  a{
   text-decoration: none;
  }

  .manutencao{
    background-color: #0D2688;
    display: flex;
    flex-wrap: wrap;

    
  }
  h3{
    font-size: 45px;
  }
  .ui{
    align-items: center;
    margin-top: 130px;
    font-size: 20px;
    text-align: center;
    margin-left: 8%;
    color: #ECC51A;
  }
